<div class="results">
<% unless @candidates.nil? %>
  <div class="cards">
    <% @candidates.each do |value| %>
      <div class="card">
        <div class="card-candidate">
          <div class="card-candidate-img">
            <%= image_tag value.first.photo_url, size: "100x100" %>
          </div>

          <div class="card-candidate-info">
            <h1><%= value.first.name %> </h1>
            <% unless value.first.twitter.nil? %>
              <%= link_to "@#{value.first.twitter}", "http://twitter.com/#{value.first.twitter}" %><br />
            <% end %>

            <% unless value.first.website.nil? %>
              <%= link_to value.first.website, value.first.website %>
            <% end %>
          </div>
        </div>

        <div class="card-header">
          <%= value.second.count %> matches.
        </div>

        <div class="card-copy">
          <ul>
            <% value.second.each do |answer| %>
              <li class="question">
                <%= answer.question.body %>
                <ul><li class="answer"><%= answer.body %></li><ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>You should answer some questions if you want to see something here.</h1>
<% end %>
</div>
